*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow-x: hidden;
}
.main{
    background-color: black;
    box-sizing: border-box;
    width: 100%;
}
.page1{
    background-image:url(back\ netflix\ hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 120vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.navlogo img{
   width: 125px;
}
.button{
    padding: 7px 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.244);
    border-radius: 0.1875rem;
    font-weight: bold;
    border: 1px solid silver;
}
.signin{
    padding: 7px 15px;
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    color: white;
    border-radius: 0.1875rem;;
    border: none;
    font-weight: bold;
}
.hero{
    margin-top: 200px;
    color: white;
    text-align: center;
}
.hero h1{
    font-size: 40px;
    font-weight: bolder;
}
.hero h6{
    font-size: 25px;
    font-weight: 100;
}
.hero p{
    font-size: 20px;
}
.input button{
    padding: 18px 50px;
    background-color: red;
    font-weight: bold;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0.1875rem;   
    position: relative;
    left: -15px; 
}
.input input{
    padding: 18px 100px;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 0.1875rem;
    border: 1px solid silver;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    position: relative;
    left: -25px;
}
.page2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.page2 {
    color: white;
    background-color: black;
}
.page2 h1{
    font-size: 50px;
    font-weight: bolder;
}
.page2 p{
    font-size: 20px;
}
.page3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 100vh;
    flex-wrap: wrap-reverse;
}
.page3 h1{
    color: white;
    font-size: 50px;
    
}
.page3 p{
    color: white;
    font-size: 20px;
    
}
.line1{
    height: 6px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}
.line2{
    height: 6px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}
.line3{
    height: 6px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}
.page4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 100vh;
    flex-wrap: wrap;
}
.image{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.page4vdo{
    height: 950px;
    width: 950px;
    border-radius: 50%;
     position: relative;
     bottom: 350px;
     left: 82px;
     z-index: -1;
}
.line4{
    height: 6px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}
.page5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    flex-wrap: wrap-reverse;
}
.page5 h1{
    font-size: 50px;
}
.page5 p{
    font-size: 20px;
}
.line5{
    height: 6px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}
.page6{
    background-color: black;
    color: white;
    margin-bottom: 50px;
    height: 100vh;
}
.page6 h2{
    font-size: 80px;
}
.question_answer{
    text-align: center;
    font-size: 50px;
    line-height: 150px; 
    display: flex;
    justify-content: center;
    margin: auto;
}
.bott{
    text-align: center;
}
.bott p{
    font-size: 22px;
}
.bott input{
    padding: 20px 100px;
    background-color: black;
    border-radius: 0.1875rem;
    border: none;
    margin-top: 10px;
    border: 1px solid silver;
}
.bott button{
    padding: 20px 48px;
    background-color: red;
    font-weight: bold;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0.1875rem;;
    margin-left: 8px  ;
}
.line6 {
    height: 6px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}
.imagepage2{
 z-index: 1;
 position: relative;
 top: 150px;
}
.vdopage2{
    position: relative;
    bottom: 392px;
    left: 50px;
    z-index: -2;
    width: 500px;
}
.page6 h2{
   margin-top: 45px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}
.q1{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.196);
    font-size: 25px;
    margin-bottom: 13px;
    padding: 1rem;
    width: 75%;
    margin-left: 220px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.q2{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.196);
    font-size: 25px;
    margin-bottom: 13px;
    padding: 1rem;
    width: 75%;
    margin-left: 220px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.q3{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.196);
    font-size: 25px;
    margin-bottom: 13px;
    padding: 1rem;
    width: 75%;
    margin-left: 220px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.q4{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.196);
    font-size: 25px;
    margin-bottom: 13px;
    padding: 1rem;
    width: 75%;
    margin-left: 220px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.q5{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.196);
    font-size: 25px;
    margin-bottom: 13px;
    padding: 1rem;
    width: 75%;
    margin-left: 220px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.q6{
    text-align: start;
    background-color: rgba(255, 255, 255, 0.196);
    font-size: 25px;
    margin-bottom: 55px;
    padding: 1rem;
    width: 75%;
    margin-left: 220px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.page7{
    color: gray;
    display: flex;
    justify-content: space-around;
    /* height: 500vh; */
    margin-top: 50px;
    flex-wrap: wrap;
    
}
.li1 ul li{
    margin-bottom: 25px;
    text-decoration: underline;
    cursor: pointer;
}
.li2 ul li{
    margin-bottom: 25px;
    text-decoration: underline;
    cursor: pointer;
}
.li3 ul li{
    margin-bottom: 25px;
    text-decoration: underline;
    cursor: pointer;
}
.li4 ul li{
    margin-bottom: 25px;
    text-decoration: underline;
    cursor: pointer;
}
.li1 button{
    margin-bottom: 20px;
    padding: 5px 30px;
    border-radius: 0.1875rem;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.li1 ul button img{
    position: relative;
    right: 15px;
}
.page4 h1{
    font-size: 50px;
}
.page4 p{
    font-size: 20px;}

.q1:hover{
    background-color:rgb(72, 72, 72)
}
.q2:hover{
    background-color:rgb(72, 72, 72)
}
.q3:hover{
    background-color:rgb(72, 72, 72)
}
.q4:hover{
    background-color:rgb(72, 72, 72)
}
.q5:hover{
    background-color:rgb(72, 72, 72)
}
.q6:hover{
    background-color:rgb(72, 72, 72)
}

@media screen and (min-width:768px) and (max-width:1023px){
    body{
        overflow: hidden;
        
    }
    .input input{
        position: relative;
        right: 250px;
    }
    .input button{
        position: relative;
        right: 120px;
    }
    .hero h1{
        font-size: 40px;
    text-align: center;
    font-weight: bolder; 
    }
    .imagepage2 img{
        position: relative;
        bottom: 150px;
    }
    .vdopage2{
        position: relative;
        bottom: 532px;
        left: 78px;
        z-index: -1;
        width: 470px;
    }
    .q1{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q2{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q3{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q4{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }.q5{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q6{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}

@media  screen and (max-width:767px) {
    body{
        overflow-x: hidden;
    }
    .imagepage2 img{
        position: relative;
        bottom: 150px;
    }
    .vdopage2{
        position: relative;
        bottom: 532px;
        left: 78px;
        z-index: -1;
        width: 470px;
    }
    .q1{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q2{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q3{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q4{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }.q5{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .q6{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    } 
}

@media  screen and (max-width:552px){
    .vdopage2{
        width: 250px;
        position: relative;
        top: -369px;
    }
}